%h1 Calculator
%div{ 'ng-controller':  'indexCtrl' }
  .row
    %div
      .col-md-4
        %input.calculator{ 'ng-model' => "displayNumber"}
           
    %p
      .row
        .col-md-4.button  
          %button{ 'ng-click': 'buildNumber(7)', 'class': 'btn-lg'} 7
          %button{ 'ng-click': 'buildNumber(8)', 'class': 'btn-lg'} 8 
          %button{ 'ng-click': 'buildNumber(9)', 'class': 'btn-lg'} 9 
          %button{ 'ng-click': 'clearAll()', 'class': 'btn-lg' } C 
    %p
      .row
        .col-md-4.button 
          %button{ 'ng-click': 'buildNumber(4)', 'class': 'btn-lg'} 4
          %button{ 'ng-click': 'buildNumber(5)', 'class': 'btn-lg'} 5 
          %button{ 'ng-click': 'buildNumber(6)', 'class': 'btn-lg'} 6
          %button{ 'ng-click': 'subtraction("subtract")', 'class': 'btn-lg'} -
    %p
      .row
        .col-md-4.button
          %button{ 'ng-click': 'buildNumber(1)', 'class': 'btn-lg'} 1
          %button{ 'ng-click': 'buildNumber(2)', 'class': 'btn-lg'} 2 
          %button{ 'ng-click': 'buildNumber(3)', 'class': 'btn-lg'} 3
          %button{ 'ng-click': 'addition("addition")', 'class': 'btn-lg'} +
    %p
      .row
        .col-md-4.button
          %button.empty 
          %button{ 'ng-click': 'buildNumber(0)', 'class': 'btn-lg'} 0 
          %button.empty   
          %button{ 'ng-click': 'doMath()', 'class': 'btn-lg'} 
            = "="
      
      

    
    
   
                              


              